body {
    background-color: grey;
    
}

#graph {
    border: solid black 1px;
}
.output {
    font-weight: bold;
}

.centered-prototype{
    
    top: 10px;
    left: 45%;
    color: greenyellow;
}